body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px
}
header{
	background-color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom:20px;
}
h1, h2{
	font-family: 'Yellowtail', cursive;
}

header h1{
	color: white;
	font-size: 50px;
}
header img{
	border-radius: 150px;
	width: 1300px;
	border: 15px solid white;
}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	margin: 40px 0 10px; 
}

a{
	color: black;
}
a:hover{
	color: white;
	background-color: blue;
}

footer{
	background-color: black;
	text-align: center;
	color: white;
}
footer a{
	color: white;
}

p.caption{
	color:#999999;
	font-style: italic;
	margin-top: 0;
}